@mixin box-shadow-item {
    border: 1px solid $color-grey-dark-1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

@mixin box-shadow-item-hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
