@import '../../../sass/variables';

.loading-long {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        margin-top: 2rem;
        font-size: 1.2rem;
        padding: 0 1rem;

        text-align: center;
        font-weight: bold;
    }
}

.spinner-long {
    margin-top: 3rem;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid;
    border-color: $color-black-light-2;
    border-right-color: $color-secondary;
    animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
    to {
        transform: rotate(1turn);
    }
}
