@import '../../../sass/variables';

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.8rem;
    border-bottom: $color-grey-light-1 1px solid;

    h1 {
        color: $color-white;
        -webkit-text-stroke: 1px $color-primary;
    }

    .left-container {
        margin-right: 1rem;
    }
}

@media (max-width: 768px) {
    header {
        h1 {
            font-size: 1.5rem;
        }
    }
}
